LOC AND ILOC
EXAMPLES OF DATA THAT HAVE THE SAME IMPLICIT INDEX AND EXPLICIT INDEX

In [4]:
data_2 = pd.Series([0.25, 0.50, 0.75, 1], index=[2,5,3,7])

In [6]:
data_2

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

When we access an index, what appears is the explicit index.

In [7]:
data_2[2] #indeks ekplisit : selecting

0.25

when we call the explicit index from index 2 to index 3. the value that appears is precisely from the implicit index

In [8]:
data_2[2:3] #indexs implisit : slicing

3    0.75
dtype: float64

When the explicit index and implicit index are the same, inconsistencies will occur as in the case above.
To overcome this inconsistency, we will use the loc and iloc rules.

loc is to call the explicit index.
iloc is for calling the implicit index.

In [9]:
#loc

data_2.loc[3] #selecting index eksplisit

0.75

In [10]:
data_2.loc[2:3] #sicing index ekplisit

2    0.25
5    0.50
3    0.75
dtype: float64

In [11]:
# iloc

data_2.iloc[3] #selecting index implisit

1.0

In [12]:
data_2.iloc[2:3] #slicing index implisit

3    0.75
dtype: float64

In [13]:
dict_populasi = {'Jakarta' :750,
                'Bogor' :490,
                'Depok' :350,
                'Tanggera' :270,
                'Bekasi' :670}

#This is just an example, not a real population figure

In [14]:
dict_populasi

{'Jakarta': 750, 'Bogor': 490, 'Depok': 350, 'Tanggera': 270, 'Bekasi': 670}

In [15]:
#transformasi dictionary to series

populasi = pd.Series(dict_populasi)

In [23]:
populasi

Jakarta     750
Bogor       490
Depok       350
Tanggera    270
Bekasi      670
dtype: int64

In [24]:
populasi.loc['Depok']

350

In [25]:
populasi.iloc[2]

350

In [36]:
dict_luas = {'Jakarta' :737,
                'Bogor' :325,
                'Depok' :247,
                'Tanggera' :302,
                'Bekasi' :355}

#This is just an example, a real broad figure

In [37]:
luas = pd.Series(dict_luas)

In [38]:
luas

Jakarta     737
Bogor       325
Depok       247
Tanggera    302
Bekasi      355
dtype: int64

# DATA FRAME

A data frame is a collection of series with at least one series.

In [39]:
daerah = pd.DataFrame({'pop': populasi, 'luas daerah': luas})

In [40]:
daerah

          pop  luas daerah
Jakarta   750          737
Bogor     490          325
Depok     350          247
Tanggera  270          302
Bekasi    670          355

In [42]:
daerah['luas daerah']

Jakarta     737
Bogor       325
Depok       247
Tanggera    302
Bekasi      355
Name: luas daerah, dtype: int64

In [44]:
daerah['luas daerah']['Jakarta']

737

when calling data with pop area syntax will appear as below
because pop is the same as the function in the data frame

In [45]:
daerah.pop

<bound method DataFrame.pop of           pop  luas daerah
Jakarta   750          737
Bogor     490          325
Depok     350          247
Tanggera  270          302
Bekasi    670          355>

then it is safer to call the data with the syntax area[population]

TASK1- HARI RABU

In [17]:
nilai_uts = pd.Series([80,90,78,82,98,60,85], index=[1,2,3,4,5,6,7])

In [18]:
nilai_uts

1    80
2    90
3    78
4    82
5    98
6    60
7    85
dtype: int64

In [19]:
nilai_uts.loc[2] #nilai ekplisit

90

In [20]:
nilai_uts.iloc[2] #nilai implisit

78

In [21]:
nilai_uts.loc[2:5]

2    90
3    78
4    82
5    98
dtype: int64

In [22]:
nilai_uts.iloc[2:5]

3    78
4    82
5    98
dtype: int64

TASK2 - HARI RABU

In [55]:
dict_libary = {'python' :10,'database' : 20,'masak masakan' :15,'sikacil yang cerdas' :10,'java script' :5}

In [56]:
dict_price = {'python' :1000,'database' : 20000,'masak masakan' :15000,'sikacil yang cerdas' :10000,'java script' :5000}

In [57]:
dict_price

{'python': 1000,
 'database': 20000,
 'masak masakan': 15000,
 'sikacil yang cerdas': 10000,
 'java script': 5000}

In [58]:
dict_libary

{'python': 10,
 'database': 20,
 'masak masakan': 15,
 'sikacil yang cerdas': 10,
 'java script': 5}

In [62]:
libary = pd.Series(dict_libary)

In [63]:
libary

python                 10
database               20
masak masakan          15
sikacil yang cerdas    10
java script             5
dtype: int64

In [64]:
harga = pd.Series(dict_price)

In [65]:
harga

python                  1000
database               20000
masak masakan          15000
sikacil yang cerdas    10000
java script             5000
dtype: int64

In [66]:
libary = pd.DataFrame({'pop': libary, 'price': harga})

In [67]:
libary

                     pop  price
python                10   1000
database              20  20000
masak masakan         15  15000
sikacil yang cerdas   10  10000
java script            5   5000